autoflow.json
[{"id":"57ba4ef1.84f52","type":"inject","z":"a6291482.2eeef8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":112,"y":249,"wires":[["fd2e3d69.04d7c8"]]},{"id":"fd2e3d69.04d7c8","type":"function","z":"a6291482.2eeef8","name":"simple query","func":"msg.query=\"SELECT * FROM temp GROUP BY * ORDER BY DESC LIMIT 1\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":249,"wires":[["74553475.bbb014"]]},{"id":"2c66329a.0a6abe","type":"debug","z":"a6291482.2eeef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":967.5,"y":577.5,"wires":[]},{"id":"d89e6de4.d48f98","type":"function","z":"a6291482.2eeef8","name":"Parsing Array","func":"var battery = {};\nvar devid = {};\nvar humidity = {};\nvar latitude = {};\nvar longitude = {};\nvar temp = {};\nbattery.payload = msg.payload[0].battery\ndevid.payload = msg.payload[0].devid\nhumidity.payload = msg.payload[0].humidity\nlatitude.payload = msg.payload[0].latitude\nlongitude.payload = msg.payload[0].longitude\ntemp.payload = msg.payload[0].temp\nreturn [battery,devid,humidity,latitude,longitude,temp];","outputs":6,"noerr":0,"x":740,"y":249,"wires":[[],["e28a2fa1.1db878"],["91b86ef7.2c254","e3980133.ce9788"],["5db4e04b.05eac"],["424122d0.6ca39c"],["927f8eee.1a4138","1dfd73ae.6500ec"]]},{"id":"1817afc7.e0b1f8","type":"inject","z":"a6291482.2eeef8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":120,"wires":[["38996cc2.a19864"]]},{"id":"38996cc2.a19864","type":"function","z":"a6291482.2eeef8","name":"Random number","func":"msg.payload = Math.round(Math.random()*100);\nreturn msg;","outputs":1,"noerr":0,"x":329.99999618530273,"y":120.00000762939453,"wires":[["1b74f6e7.f99cd9","1a86a4c7.583d03"]]},{"id":"a943ea1b.372eb","type":"function","z":"a6291482.2eeef8","name":"InfluxDB","func":"var latitude = {};\nvar longitude = {};\nlatitude = msg.payload[0].latitude\nlongitude = msg.payload[0].longitude\n// create random position\n//var lat = 51 + Math.random() * 0.2;\n//var lon = -1.45 + Math.random() * 0.2;\n//msg.payload={lat:lat, lon:lon, name:\"Mike\", icon:\"male\", url:\"<a href=\\\"/red/ui/#/0\\\">IBM link</a>\"};\nmsg.payload={lat:latitude, lon:longitude, name:\"Устройство\", icon:\"male\", url:\"<a href=\\\"/worldmap\\\" target=\\\"_blank\\\">Global Map</a>\"};\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":600,"wires":[["5016c292.c348fc"]]},{"id":"94562854.73952","type":"inject","z":"a6291482.2eeef8","name":"","topic":"","payload":"/worldmap","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":650.0003051757812,"y":712.0000019073486,"wires":[["e57ed5c2.656148"]]},{"id":"e57ed5c2.656148","type":"template","z":"a6291482.2eeef8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} height=400px width=400px></iframe>","x":830.0003051757812,"y":712.0000019073486,"wires":[["8259b110.54b2"]]},{"id":"e691d3ba.875f1","type":"comment","z":"a6291482.2eeef8","name":"Embed Map in Dashboard","info":"","x":690,"y":540,"wires":[]},{"id":"1a86a4c7.583d03","type":"ui_gauge","z":"a6291482.2eeef8","name":"","group":"2c0edac8.890816","order":1,"width":"8","height":"8","gtype":"gage","title":"Пороговые значения","label":"units","format":"{{msg.payload}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"70","x":579.0000953674316,"y":143.9999828338623,"wires":[]},{"id":"1b74f6e7.f99cd9","type":"ui_chart","z":"a6291482.2eeef8","name":"","group":"2c0edac8.890816","order":2,"width":"16","height":"8","label":"График","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":540,"y":100,"wires":[[],[]]},{"id":"74553475.bbb014","type":"influxdb in","z":"a6291482.2eeef8","influxdb":"42f726e4.3df7c8","name":"time query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":518.0004978179932,"y":249.00001621246338,"wires":[["d89e6de4.d48f98","a943ea1b.372eb"]]},{"id":"8957c393.834568","type":"inject","z":"a6291482.2eeef8","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"3","crontab":"","once":false,"onceDelay":"","x":110,"y":400,"wires":[["cfb9814a.405ac"]]},{"id":"cfb9814a.405ac","type":"function","z":"a6291482.2eeef8","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 = [-98.409,-98.408,-98.407,-98.406,-98.405,-98.404,-98.403,-98.402,-98.401,-98.400]\nvar latitude1 = [29.42, 29.43, 29.44, 29.45, 29.46, 29.47, 29.48, 29.49, 29.50, 29.51];\nvar devid1 = ['car1','car1','car1','car1','car1','car1','car1','car1','car1','car1'];\nvar battery = [87,37,82,53,23,72,61,38,7,73]\n// Array of pseudo random values\nvar speed1 = Math.floor(Math.random() * 100);\n\n// Array of pseudo random relative humidities\nvar bearing1 = Math.floor((Math.random() * 40)-20);\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"devid\": devid1[counter1],\n        \"speed\" : speed1,\n        \"bearing\" : bearing1,\n        \"battery\" : battery[counter1],\n        \"longitude\" : longitude1[counter1],\n        \"latitude\" : latitude1[counter1]\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":400,"wires":[["5c899d98.95eff4"]]},{"id":"5c899d98.95eff4","type":"json","z":"a6291482.2eeef8","name":"","property":"payload","action":"","pretty":false,"x":510,"y":400,"wires":[["2c66329a.0a6abe","2efae0b7.0d0578","380e2db0.da5c32"]]},{"id":"2efae0b7.0d0578","type":"function","z":"a6291482.2eeef8","name":"Parsing JSON","func":"var battery = {};\nvar devid = {};\nvar latitude = {};\nvar longitude = {};\nvar speed = {};\nvar bearing = {};\nbattery.payload = msg.payload.d.battery\ndevid.payload = msg.payload.d.devid\nlatitude.payload = msg.payload.d.latitude\nlongitude.payload = msg.payload.d.longitude\nspeed.payload = msg.payload.d.speed\nbearing.payload = msg.payload.d.bearing\nreturn [battery,devid,latitude,longitude,speed,bearing];","outputs":6,"noerr":0,"x":740,"y":400,"wires":[["87c1d876.b083d"],["e28a2fa1.1db878"],["5db4e04b.05eac"],["424122d0.6ca39c"],["927f8eee.1a4138","1dfd73ae.6500ec","5a61cbf.55107b4"],["e3980133.ce9788","91b86ef7.2c254","193fd5d7.ec3ea2"]]},{"id":"875eb69a.7411f","type":"comment","z":"a6291482.2eeef8","name":"Sensors data simulation","info":"","x":180,"y":340,"wires":[]},{"id":"aa5fbb61.dd6918","type":"comment","z":"a6291482.2eeef8","name":"Part of read from InfluxDB","info":"","x":190,"y":180,"wires":[]},{"id":"5db4e04b.05eac","type":"ui_text","z":"a6291482.2eeef8","group":"ea90ff16.115148","order":1,"width":0,"height":0,"name":"Latitude","label":"Latitude:","format":"{{msg.payload}}","layout":"row-spread","x":977.4999313354492,"y":315.00000381469727,"wires":[]},{"id":"424122d0.6ca39c","type":"ui_text","z":"a6291482.2eeef8","group":"ea90ff16.115148","order":2,"width":0,"height":0,"name":"Longitude","label":"Longitude:","format":"{{msg.payload}}","layout":"row-spread","x":977.4999313354492,"y":355.00000381469727,"wires":[]},{"id":"380e2db0.da5c32","type":"function","z":"a6291482.2eeef8","name":"JSON","func":"var speed = {};\nvar bearing = {};\nvar latitude = {};\nvar longitude = {};\nspeed = msg.payload.d.speed\nbearing = msg.payload.d.bearing\nlatitude = msg.payload.d.latitude\nlongitude = msg.payload.d.longitude\n// create random position\n//var lat = 51 + Math.random() * 0.2;\n//var lon = -1.45 + Math.random() * 0.2;\n//msg.payload={lat:lat, lon:lon, name:\"Mike\", icon:\"male\", url:\"<a href=\\\"/red/ui/#/0\\\">IBM link</a>\"};\nmsg.payload={speed, bearing, lat:latitude, lon:longitude, name:\"Устройство\", icon:\"car\", iconColor:\"blue\", url:\"<a href=\\\"/worldmap\\\" target=\\\"_blank\\\">Global Map</a>\"};\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":640,"wires":[["5016c292.c348fc"]]},{"id":"a29ef7bc.18231","type":"comment","z":"a6291482.2eeef8","name":"Random simulator","info":"","x":170,"y":60,"wires":[]},{"id":"5016c292.c348fc","type":"worldmap","z":"a6291482.2eeef8","name":"","lat":"","lon":"","zoom":"13","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","panit":"true","x":819.0000190734863,"y":640.9999980926514,"wires":[]},{"id":"91b86ef7.2c254","type":"ui_chart","z":"a6291482.2eeef8","name":"Graph - Bearing Data","group":"4f52201b.037ba","order":5,"width":"8","height":"4","label":"Graph - Bearing Data","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":1020.7005233764648,"y":228.0833225250244,"wires":[[],[]]},{"id":"e3980133.ce9788","type":"ui_gauge","z":"a6291482.2eeef8","name":"Bearing Data","group":"4f52201b.037ba","order":4,"width":"4","height":"4","gtype":"compass","title":"Bearing Data","label":"azimuth","format":"{{value}}","min":"0","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"120","seg2":"240","x":990.7005233764648,"y":189.08327865600586,"wires":[]},{"id":"927f8eee.1a4138","type":"ui_gauge","z":"a6291482.2eeef8","name":"Speed","group":"4f52201b.037ba","order":1,"width":"4","height":"4","gtype":"gage","title":"Speed","label":"km/h","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"70","x":967.4999313354492,"y":397.50000381469727,"wires":[]},{"id":"e28a2fa1.1db878","type":"ui_text","z":"a6291482.2eeef8","group":"bff2d0c1.add138","order":2,"width":0,"height":0,"name":"","label":"Device:","format":"{{msg.payload}}","layout":"row-center","x":980,"y":138.75,"wires":[]},{"id":"8259b110.54b2","type":"ui_template","z":"a6291482.2eeef8","group":"bff2d0c1.add138","name":"","order":1,"width":"8","height":"8","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1000.0003051757812,"y":712.0000019073486,"wires":[[]]},{"id":"1dfd73ae.6500ec","type":"ui_chart","z":"a6291482.2eeef8","name":"Graph - Speed","group":"4f52201b.037ba","order":2,"width":"8","height":"4","label":"Graph - Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":998.4999313354492,"y":437.50012588500977,"wires":[[],[]]},{"id":"5a61cbf.55107b4","type":"ui_text","z":"a6291482.2eeef8","group":"ea90ff16.115148","order":3,"width":0,"height":0,"name":"Speed","label":"Speed","format":"{{msg.payload}}","layout":"row-spread","x":966.8748626708984,"y":483.75000762939453,"wires":[]},{"id":"193fd5d7.ec3ea2","type":"ui_text","z":"a6291482.2eeef8","group":"ea90ff16.115148","order":4,"width":0,"height":0,"name":"Bearing","label":"Bearing","format":"{{msg.payload}}","layout":"row-spread","x":979.3749313354492,"y":270.00000381469727,"wires":[]},{"id":"87c1d876.b083d","type":"ui_gauge","z":"a6291482.2eeef8","name":"Fuel / Battery","group":"dc258ee7.302148","order":1,"width":"0","height":"0","gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000.625,"y":88.75,"wires":[]},{"id":"c8134c52.4bc308","type":"ui_text","z":"a6291482.2eeef8","group":"4f52201b.037ba","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":778.125,"y":87.5,"wires":[]},{"id":"2c0edac8.890816","type":"ui_group","z":"","name":"Random","tab":"b20aa891.29d3f8","order":1,"disp":true,"width":"24","collapse":false},{"id":"42f726e4.3df7c8","type":"influxdb","z":"","hostname":"influx","port":"8086","protocol":"http","database":"iot","name":"","usetls":false,"tls":""},{"id":"ea90ff16.115148","type":"ui_group","z":"","name":"Geo Location","tab":"2418057b.1eac92","order":3,"disp":true,"width":"5","collapse":false},{"id":"4f52201b.037ba","type":"ui_group","z":"","name":"Device Data","tab":"2418057b.1eac92","order":2,"disp":true,"width":"12","collapse":false},{"id":"bff2d0c1.add138","type":"ui_group","z":"","name":"Interactive Map","tab":"2418057b.1eac92","order":1,"disp":true,"width":"8","collapse":false},{"id":"dc258ee7.302148","type":"ui_group","z":"","name":"Fuel / Battery Status","tab":"2418057b.1eac92","order":4,"disp":true,"width":"5","collapse":false},{"id":"b20aa891.29d3f8","type":"ui_tab","z":"","name":"Test","icon":"dashboard","order":2},{"id":"2418057b.1eac92","type":"ui_tab","z":"","name":"IBM Edge Demo - City Operational Center","icon":"star","order":1}]
