sample_dashboard.json
[
    {
        "id": "8578c92a.ca7f48",
        "type": "tab",
        "label": "Smart Utitities",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ed4d1064.f69ee",
        "type": "comment",
        "z": "8578c92a.ca7f48",
        "name": "Embed Map in Dashboard",
        "info": "",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "d0cffd0f.b2e",
        "type": "json",
        "z": "8578c92a.ca7f48",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "d404c286.040eb",
                "ba1e4034.fb924"
            ]
        ]
    },
    {
        "id": "d404c286.040eb",
        "type": "function",
        "z": "8578c92a.ca7f48",
        "name": "Parsing JSON",
        "func": "var battery = {};\nvar devid = {};\nvar latitude = {};\nvar longitude = {};\nvar speed = {};\nvar bearing = {};\nbattery.payload = msg.payload.d.battery\ndevid.payload = msg.payload.d.devid\nlatitude.payload = msg.payload.d.latitude\nlongitude.payload = msg.payload.d.longitude\nspeed.payload = msg.payload.d.speed\nbearing.payload = msg.payload.d.bearing\nreturn [battery,devid,latitude,longitude,speed,bearing];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 240,
        "wires": [
            [
                "fa695a0d.bba268"
            ],
            [
                "465b9877.e7d758"
            ],
            [
                "468d0285.45f1ac"
            ],
            [
                "e6c9cae8.99bda8"
            ],
            [
                "99e988c0.56f5f8",
                "e2eae85a.faefd8",
                "a78f8799.cdb208"
            ],
            [
                "e4253770.b463b8",
                "2234b33a.2371fc",
                "5b3da63d.569918"
            ]
        ]
    },
    {
        "id": "468d0285.45f1ac",
        "type": "ui_text",
        "z": "8578c92a.ca7f48",
        "group": "557b8378.86d8bc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Широта",
        "label": "Широта:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 140,
        "wires": []
    },
    {
        "id": "e6c9cae8.99bda8",
        "type": "ui_text",
        "z": "8578c92a.ca7f48",
        "group": "557b8378.86d8bc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Долгота",
        "label": "Долгота:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "ba1e4034.fb924",
        "type": "function",
        "z": "8578c92a.ca7f48",
        "name": "JSON",
        "func": "var speed = {};\nvar bearing = {};\nvar latitude = {};\nvar longitude = {};\nspeed = msg.payload.d.speed\nbearing = msg.payload.d.bearing\nlatitude = msg.payload.d.latitude\nlongitude = msg.payload.d.longitude\nmsg.payload={speed, bearing, lat:latitude, lon:longitude, name:\"Устройство\", icon:\"car\", iconColor:\"blue\", url:\"<a href=\\\"/worldmap\\\" target=\\\"_blank\\\">Global Map</a>\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "7e5dee09.9226c"
            ]
        ]
    },
    {
        "id": "7e5dee09.9226c",
        "type": "worldmap",
        "z": "8578c92a.ca7f48",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "13",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "panit": "true",
        "hiderightclick": "false",
        "coords": "none",
        "path": "",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "2234b33a.2371fc",
        "type": "ui_chart",
        "z": "8578c92a.ca7f48",
        "name": "Направление",
        "group": "8931f16f.c5c2e",
        "order": 5,
        "width": "8",
        "height": "4",
        "label": "Направление",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 760,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e4253770.b463b8",
        "type": "ui_gauge",
        "z": "8578c92a.ca7f48",
        "name": "Направление",
        "group": "8931f16f.c5c2e",
        "order": 4,
        "width": "4",
        "height": "4",
        "gtype": "compass",
        "title": "Направление",
        "label": "azimuth",
        "format": "{{value}}",
        "min": "0",
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "120",
        "seg2": "240",
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "99e988c0.56f5f8",
        "type": "ui_gauge",
        "z": "8578c92a.ca7f48",
        "name": "Скорость",
        "group": "8931f16f.c5c2e",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Скорость",
        "label": "km/h",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 740,
        "y": 222.5,
        "wires": []
    },
    {
        "id": "465b9877.e7d758",
        "type": "ui_text",
        "z": "8578c92a.ca7f48",
        "group": "1ad6358e.1d7cea",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Устройство:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "e2eae85a.faefd8",
        "type": "ui_chart",
        "z": "8578c92a.ca7f48",
        "name": "Скорость",
        "group": "8931f16f.c5c2e",
        "order": 2,
        "width": "8",
        "height": "4",
        "label": "Скорость",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 740,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "a78f8799.cdb208",
        "type": "ui_text",
        "z": "8578c92a.ca7f48",
        "group": "557b8378.86d8bc",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Скорость",
        "label": "Скорость",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "5b3da63d.569918",
        "type": "ui_text",
        "z": "8578c92a.ca7f48",
        "group": "557b8378.86d8bc",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Направление",
        "label": "Направление",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "fa695a0d.bba268",
        "type": "ui_gauge",
        "z": "8578c92a.ca7f48",
        "name": "Топливо/Заряд",
        "group": "5e821d9b.6c9ef4",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 60,
        "wires": []
    },
    {
        "id": "81a41232.f1513",
        "type": "debug",
        "z": "8578c92a.ca7f48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 120,
        "wires": []
    },
    {
        "id": "89dffaad.512b58",
        "type": "ui_template",
        "z": "8578c92a.ca7f48",
        "group": "1ad6358e.1d7cea",
        "name": "",
        "order": 1,
        "width": "8",
        "height": "8",
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 740,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a18c4c6.af856b",
        "type": "template",
        "z": "8578c92a.ca7f48",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src={{{payload}}} height=400px width=400px></iframe>",
        "x": 460,
        "y": 380,
        "wires": [
            [
                "89dffaad.512b58"
            ]
        ]
    },
    {
        "id": "d5244ec1.a5649",
        "type": "inject",
        "z": "8578c92a.ca7f48",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "/worldmap",
        "payloadType": "str",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "a18c4c6.af856b"
            ]
        ]
    },
    {
        "id": "c6ae2e16.8303f",
        "type": "mqtt in",
        "z": "8578c92a.ca7f48",
        "name": "registry",
        "topic": "$registries/<id_реестра>/events",
        "qos": "1",
        "datatype": "auto",
        "broker": "cd69578e.dfb498",
        "x": 50,
        "y": 240,
        "wires": [
            [
                "81a41232.f1513",
                "d0cffd0f.b2e"
            ]
        ]
    },
    {
        "id": "557b8378.86d8bc",
        "type": "ui_group",
        "z": "",
        "name": "Геолокация",
        "tab": "950f9927.0259c8",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "8931f16f.c5c2e",
        "type": "ui_group",
        "z": "",
        "name": "Устройство",
        "tab": "950f9927.0259c8",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "1ad6358e.1d7cea",
        "type": "ui_group",
        "z": "",
        "name": "Карта",
        "tab": "950f9927.0259c8",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "5e821d9b.6c9ef4",
        "type": "ui_group",
        "z": "",
        "name": "Топливо/Заряд",
        "tab": "950f9927.0259c8",
        "order": 4,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "cd69578e.dfb498",
        "type": "mqtt-broker",
        "z": "",
        "name": "iot-core-subscription",
        "broker": "mqtt.cloud.yandex.net",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "950f9927.0259c8",
        "type": "ui_tab",
        "z": "",
        "name": "Подключаемые Автомобили",
        "icon": "star",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]