sample_dashboard.json
[
    {
        "id": "b522b21d.ddf1f",
        "type": "tab",
        "label": "Smart Utitities",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6b593ed3.9a255",
        "type": "inject",
        "z": "b522b21d.ddf1f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "/worldmap",
        "payloadType": "str",
        "x": 610,
        "y": 660,
        "wires": [
            [
                "627ff7b.1e64808"
            ]
        ]
    },
    {
        "id": "627ff7b.1e64808",
        "type": "template",
        "z": "b522b21d.ddf1f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src={{{payload}}} height=400px width=400px></iframe>",
        "x": 800,
        "y": 660,
        "wires": [
            [
                "4eda3c37.df3d14"
            ]
        ]
    },
    {
        "id": "6f78b404.9d0d6c",
        "type": "comment",
        "z": "b522b21d.ddf1f",
        "name": "Embed Map in Dashboard",
        "info": "",
        "x": 630,
        "y": 500,
        "wires": []
    },
    {
        "id": "a7373cdb.5e99b",
        "type": "json",
        "z": "b522b21d.ddf1f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 400,
        "wires": [
            [
                "ef0cbd5a.b812d",
                "76697a8c.4defe4"
            ]
        ]
    },
    {
        "id": "ef0cbd5a.b812d",
        "type": "function",
        "z": "b522b21d.ddf1f",
        "name": "Parsing JSON",
        "func": "var battery = {};\nvar devid = {};\nvar latitude = {};\nvar longitude = {};\nvar speed = {};\nvar bearing = {};\nbattery.payload = msg.payload.d.battery\ndevid.payload = msg.payload.d.devid\nlatitude.payload = msg.payload.d.latitude\nlongitude.payload = msg.payload.d.longitude\nspeed.payload = msg.payload.d.speed\nbearing.payload = msg.payload.d.bearing\nreturn [battery,devid,latitude,longitude,speed,bearing];",
        "outputs": 6,
        "noerr": 0,
        "x": 640,
        "y": 400,
        "wires": [
            [
                "915141f2.5ab5c"
            ],
            [
                "22620f27.302"
            ],
            [
                "610d3c53.0c26a4"
            ],
            [
                "528673b9.bce4dc"
            ],
            [
                "772f1210.ce2b6c",
                "8b6bdfd0.1c494",
                "75526b62.528254"
            ],
            [
                "c6640485.1fa668",
                "b9698467.f49248",
                "1cf51dc6.7cb7b2"
            ]
        ]
    },
    {
        "id": "610d3c53.0c26a4",
        "type": "ui_text",
        "z": "b522b21d.ddf1f",
        "group": "6d92af23.d2c37",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Latitude",
        "label": "Latitude:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 965.4999313354492,
        "y": 326.00000381469727,
        "wires": []
    },
    {
        "id": "528673b9.bce4dc",
        "type": "ui_text",
        "z": "b522b21d.ddf1f",
        "group": "6d92af23.d2c37",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Longitude",
        "label": "Longitude:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 965.4999313354492,
        "y": 366.00000381469727,
        "wires": []
    },
    {
        "id": "76697a8c.4defe4",
        "type": "function",
        "z": "b522b21d.ddf1f",
        "name": "JSON",
        "func": "var speed = {};\nvar bearing = {};\nvar latitude = {};\nvar longitude = {};\nspeed = msg.payload.d.speed\nbearing = msg.payload.d.bearing\nlatitude = msg.payload.d.latitude\nlongitude = msg.payload.d.longitude\n// create random position\n//var lat = 51 + Math.random() * 0.2;\n//var lon = -1.45 + Math.random() * 0.2;\n//msg.payload={lat:lat, lon:lon, name:\"Mike\", icon:\"male\", url:\"<a href=\\\"/red/ui/#/0\\\">IBM link</a>\"};\nmsg.payload={speed, bearing, lat:latitude, lon:longitude, name:\"Устройство\", icon:\"car\", iconColor:\"blue\", url:\"<a href=\\\"/worldmap\\\" target=\\\"_blank\\\">Global Map</a>\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 560,
        "wires": [
            [
                "3d7ec7fa.6ece88"
            ]
        ]
    },
    {
        "id": "3d7ec7fa.6ece88",
        "type": "worldmap",
        "z": "b522b21d.ddf1f",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "13",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "panit": "true",
        "x": 750,
        "y": 560,
        "wires": []
    },
    {
        "id": "b9698467.f49248",
        "type": "ui_chart",
        "z": "b522b21d.ddf1f",
        "name": "Graph - Bearing Data",
        "group": "2a56b81e.7e43c8",
        "order": 5,
        "width": "8",
        "height": "4",
        "label": "Graph - Bearing Data",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 2,
        "x": 1008.7005233764648,
        "y": 239.0833225250244,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c6640485.1fa668",
        "type": "ui_gauge",
        "z": "b522b21d.ddf1f",
        "name": "Bearing Data",
        "group": "2a56b81e.7e43c8",
        "order": 4,
        "width": "4",
        "height": "4",
        "gtype": "compass",
        "title": "Bearing Data",
        "label": "azimuth",
        "format": "{{value}}",
        "min": "0",
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "120",
        "seg2": "240",
        "x": 978.7005233764648,
        "y": 200.08327865600586,
        "wires": []
    },
    {
        "id": "772f1210.ce2b6c",
        "type": "ui_gauge",
        "z": "b522b21d.ddf1f",
        "name": "Speed",
        "group": "2a56b81e.7e43c8",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Speed",
        "label": "km/h",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 955.4999313354492,
        "y": 408.50000381469727,
        "wires": []
    },
    {
        "id": "22620f27.302",
        "type": "ui_text",
        "z": "b522b21d.ddf1f",
        "group": "495df01d.ea2ba",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Device:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 968,
        "y": 149.75,
        "wires": []
    },
    {
        "id": "4eda3c37.df3d14",
        "type": "ui_template",
        "z": "b522b21d.ddf1f",
        "group": "495df01d.ea2ba",
        "name": "",
        "order": 1,
        "width": "8",
        "height": "8",
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 980,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "8b6bdfd0.1c494",
        "type": "ui_chart",
        "z": "b522b21d.ddf1f",
        "name": "Graph - Speed",
        "group": "2a56b81e.7e43c8",
        "order": 2,
        "width": "8",
        "height": "4",
        "label": "Graph - Speed",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 2,
        "x": 986.4999313354492,
        "y": 448.50012588500977,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "75526b62.528254",
        "type": "ui_text",
        "z": "b522b21d.ddf1f",
        "group": "6d92af23.d2c37",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Speed",
        "label": "Speed",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 954.8748626708984,
        "y": 494.75000762939453,
        "wires": []
    },
    {
        "id": "1cf51dc6.7cb7b2",
        "type": "ui_text",
        "z": "b522b21d.ddf1f",
        "group": "6d92af23.d2c37",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Bearing",
        "label": "Bearing",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 967.3749313354492,
        "y": 281.00000381469727,
        "wires": []
    },
    {
        "id": "915141f2.5ab5c",
        "type": "ui_gauge",
        "z": "b522b21d.ddf1f",
        "name": "Fuel / Battery",
        "group": "81c86bc6.045c38",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 988.625,
        "y": 99.75,
        "wires": []
    },
    {
        "id": "3d47a7df.f6e9e8",
        "type": "mqtt in",
        "z": "b522b21d.ddf1f",
        "name": "registry",
        "topic": "$registries/<id_реестра>/events",
        "qos": "1",
        "datatype": "auto",
        "broker": "a60d48dd.8b6188",
        "x": 50,
        "y": 400,
        "wires": [
            [
                "68ef242c.df66dc",
                "a7373cdb.5e99b"
            ]
        ]
    },
    {
        "id": "68ef242c.df66dc",
        "type": "debug",
        "z": "b522b21d.ddf1f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 350,
        "y": 480,
        "wires": []
    },
    {
        "id": "6d92af23.d2c37",
        "type": "ui_group",
        "z": "",
        "name": "Geo Location",
        "tab": "e75b54d3.e7cb28",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "2a56b81e.7e43c8",
        "type": "ui_group",
        "z": "",
        "name": "Device Data",
        "tab": "e75b54d3.e7cb28",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "495df01d.ea2ba",
        "type": "ui_group",
        "z": "",
        "name": "Interactive Map",
        "tab": "e75b54d3.e7cb28",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "81c86bc6.045c38",
        "type": "ui_group",
        "z": "",
        "name": "Fuel / Battery Status",
        "tab": "e75b54d3.e7cb28",
        "order": 4,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "a60d48dd.8b6188",
        "type": "mqtt-broker",
        "z": "",
        "name": "iot-core-subscription",
        "broker": "mqtt.cloud.yandex.net",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e75b54d3.e7cb28",
        "type": "ui_tab",
        "z": "",
        "name": "IBM Edge Demo - City Operational Center",
        "icon": "star",
        "order": 1
    }
]