sample_dashboard.json
[
    {
        "id": "55574a5c.e6e6e4",
        "type": "tab",
        "label": "Smart Cars",
        "disabled": false,
        "info": ""
    },
    {
        "id": "78544752.ec5418",
        "type": "json",
        "z": "55574a5c.e6e6e4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "a8c0a13e.ee82a",
                "44ea5ef9.232ba"
            ]
        ]
    },
    {
        "id": "a8c0a13e.ee82a",
        "type": "function",
        "z": "55574a5c.e6e6e4",
        "name": "Parsing JSON",
        "func": "var battery = {};\nvar devid = {};\nvar latitude = {};\nvar longitude = {};\nvar speed = {};\nvar bearing = {};\nbattery.payload = msg.payload.d.battery\ndevid.payload = msg.payload.d.devid\nlatitude.payload = msg.payload.d.latitude\nlongitude.payload = msg.payload.d.longitude\nspeed.payload = msg.payload.d.speed\nbearing.payload = msg.payload.d.bearing\nreturn [battery,devid,latitude,longitude,speed,bearing];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 240,
        "wires": [
            [
                "dfc78d98.3a022"
            ],
            [
                "f1a76294.889e4"
            ],
            [
                "9f236c9f.d0a1b"
            ],
            [
                "a7fd2520.95e978"
            ],
            [
                "8c1661c3.ac3d7",
                "67863635.0690c8",
                "a7e75a63.e4a438"
            ],
            [
                "378c7c6d.0da224",
                "5a06028b.2f6f5c",
                "b42c3ae8.e64108"
            ]
        ]
    },
    {
        "id": "9f236c9f.d0a1b",
        "type": "ui_text",
        "z": "55574a5c.e6e6e4",
        "group": "265b61b2.7845de",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Широта",
        "label": "Широта:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 140,
        "wires": []
    },
    {
        "id": "a7fd2520.95e978",
        "type": "ui_text",
        "z": "55574a5c.e6e6e4",
        "group": "265b61b2.7845de",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Долгота",
        "label": "Долгота:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "44ea5ef9.232ba",
        "type": "function",
        "z": "55574a5c.e6e6e4",
        "name": "JSON",
        "func": "var speed = {};\nvar bearing = {};\nvar latitude = {};\nvar longitude = {};\nspeed = msg.payload.d.speed\nbearing = msg.payload.d.bearing\nlatitude = msg.payload.d.latitude\nlongitude = msg.payload.d.longitude\nmsg.payload={speed, bearing, lat:latitude, lon:longitude, name:\"Устройство\", icon:\"car\", iconColor:\"blue\", url:\"<a href=\\\"/worldmap\\\" target=\\\"_blank\\\">Global Map</a>\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "5ba8e972.241d78"
            ]
        ]
    },
    {
        "id": "5ba8e972.241d78",
        "type": "worldmap",
        "z": "55574a5c.e6e6e4",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "13",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "panit": "true",
        "hiderightclick": "false",
        "coords": "none",
        "path": "",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "5a06028b.2f6f5c",
        "type": "ui_chart",
        "z": "55574a5c.e6e6e4",
        "name": "Направление",
        "group": "c21e6962.62d798",
        "order": 5,
        "width": "8",
        "height": "4",
        "label": "Направление",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 760,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "378c7c6d.0da224",
        "type": "ui_gauge",
        "z": "55574a5c.e6e6e4",
        "name": "Направление",
        "group": "c21e6962.62d798",
        "order": 4,
        "width": "4",
        "height": "4",
        "gtype": "compass",
        "title": "Направление",
        "label": "azimuth",
        "format": "{{value}}",
        "min": "0",
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "120",
        "seg2": "240",
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "8c1661c3.ac3d7",
        "type": "ui_gauge",
        "z": "55574a5c.e6e6e4",
        "name": "Скорость",
        "group": "c21e6962.62d798",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Скорость",
        "label": "km/h",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 740,
        "y": 222.5,
        "wires": []
    },
    {
        "id": "f1a76294.889e4",
        "type": "ui_text",
        "z": "55574a5c.e6e6e4",
        "group": "f00a6c28.ae236",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Устройство:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "67863635.0690c8",
        "type": "ui_chart",
        "z": "55574a5c.e6e6e4",
        "name": "Скорость",
        "group": "c21e6962.62d798",
        "order": 2,
        "width": "8",
        "height": "4",
        "label": "Скорость",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 1,
        "x": 740,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "a7e75a63.e4a438",
        "type": "ui_text",
        "z": "55574a5c.e6e6e4",
        "group": "265b61b2.7845de",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Скорость",
        "label": "Скорость",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "b42c3ae8.e64108",
        "type": "ui_text",
        "z": "55574a5c.e6e6e4",
        "group": "265b61b2.7845de",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Направление",
        "label": "Направление",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "dfc78d98.3a022",
        "type": "ui_gauge",
        "z": "55574a5c.e6e6e4",
        "name": "Топливо/Заряд",
        "group": "ac8aa33d.90f3e",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 60,
        "wires": []
    },
    {
        "id": "838b8dd1.3c933",
        "type": "debug",
        "z": "55574a5c.e6e6e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 120,
        "wires": []
    },
    {
        "id": "bf35a7c7.33dd68",
        "type": "ui_template",
        "z": "55574a5c.e6e6e4",
        "group": "f00a6c28.ae236",
        "name": "",
        "order": 1,
        "width": "8",
        "height": "8",
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 740,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "da7fdfcd.a9577",
        "type": "template",
        "z": "55574a5c.e6e6e4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src={{{payload}}} height=400px width=400px></iframe>",
        "x": 460,
        "y": 380,
        "wires": [
            [
                "bf35a7c7.33dd68"
            ]
        ]
    },
    {
        "id": "dd64f570.801ad8",
        "type": "inject",
        "z": "55574a5c.e6e6e4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "/worldmap",
        "payloadType": "str",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "da7fdfcd.a9577"
            ]
        ]
    },
    {
        "id": "100de22f.1d886e",
        "type": "mqtt in",
        "z": "55574a5c.e6e6e4",
        "name": "registry",
        "topic": "$registries/<id_реестра>/events",
        "qos": "1",
        "datatype": "auto",
        "broker": "da49c30d.b7fb2",
        "x": 50,
        "y": 240,
        "wires": [
            [
                "838b8dd1.3c933",
                "78544752.ec5418"
            ]
        ]
    },
    {
        "id": "265b61b2.7845de",
        "type": "ui_group",
        "z": "",
        "name": "Геолокация",
        "tab": "9eb927d1.564038",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "c21e6962.62d798",
        "type": "ui_group",
        "z": "",
        "name": "Устройство",
        "tab": "9eb927d1.564038",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "f00a6c28.ae236",
        "type": "ui_group",
        "z": "",
        "name": "Карта",
        "tab": "9eb927d1.564038",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "ac8aa33d.90f3e",
        "type": "ui_group",
        "z": "",
        "name": "Топливо/Заряд",
        "tab": "9eb927d1.564038",
        "order": 4,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "da49c30d.b7fb2",
        "type": "mqtt-broker",
        "z": "",
        "name": "iot-core-subscription",
        "broker": "mqtt.cloud.yandex.net",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "9eb927d1.564038",
        "type": "ui_tab",
        "z": "",
        "name": "Подключаемые Автомобили",
        "icon": "star",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]